.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url(../../../images/header-image.png);
  background-size: cover;
  z-index: 2;
}
