.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

/*div, p, section, ul, li, nav {
  border: 2px solid red;
}*/

.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  background-color: #f2f2f2;
  /* выше установили ограничения для секции */
}

.logo {
  width: 183px;
  height: 32px;
  z-index: 3;
}

.logo_place_header {
  position: absolute;
  left: 64px;
  top: 30px;
}

.header__title {
  margin: 0;
  font-size: 102px;
  font-weight: bolder;
  max-width: 730px;
  line-height: 96px;
  margin-left: 64px;
  z-index: 3;
  align-self: center;
}

.header__subtitle {
  margin: 0;
  position: absolute;
  left: 64px;
  bottom: 30px;
  max-width: 388px;
  font-size: 18px;
  font-weight: normal;
  line-height: 25px;
  z-index: 3;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__main-illustration {
  height: 608px;
  width: 765px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  background-image: url(../images/header-image.png);
  background-size: cover;
  z-index: 2;
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  top: 64px;
  right: 0;
  background-color: #2f80ed;
  z-index: 1;
}

.description {
  margin-top: 100px;
  }

.two-columns {
  display: flex;
  width: 80%;
  margin: 0 auto;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin-top: 0;
}

.two-columns__main-text {
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin-bottom: 30px;
}

.two-columns__paragraph:last-of-type {
  margin-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bolder;
}

.digits {
  margin: 100px auto;
}

.section-title {
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bolder;
  margin: 0 auto;
  text-align: center;
  z-index: 3;
  position: relative;
}

.section-subtitle {
  width: 60%;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 20px auto 0;
  text-align: center;
  padding: 0;
  z-index: 3;
}

.table {
  display: flex;
  width: 1100px;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-between;
  z-index: 3;
  padding: 0;
  list-style-type: none;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
  margin-right: 0;
  z-index: 3;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bolder;
  margin: 0;
  margin-bottom: 20px;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-bottom: 20px;
}

.table__text:last-of-type {
  margin-bottom: 0;
}

.feynman {
  background-image: url(../images/feynman.png);
  background-color: #f2f2f2;
  background-position: left bottom;
  background-repeat: no-repeat;
  background-size: 867px 637px;
  min-height: 790px;
  position: relative;
  padding-top: 100px;
}

.feynman__title {
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: bolder;
  margin: 0 auto 70px;
  text-align: center;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 70px auto 0;
  text-align: center;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  color: #2f80ed;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.kaufman {
  background-color: #1f1f1f;
  padding-top: 90px;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
}

.section-title_theme_dark {
  color: white;
  z-index: 3;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 3;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  background-image: url(../images/kaufman-triangle.svg);
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  background-color: #1f1f1f;

}

.footer__columns {
  min-height: 350px;
  display: flex;
  padding-top: 60px;
  padding-bottom: 40px;
  box-sizing: border-box;
  width: 90%;
  margin: 0 auto;
}

.footer__column {
  color: white;

}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer__column_content_info {
  margin: 0 auto;
}

.footer__column_content_social {
  margin: 0;
}

.logo_place_footer {
  background-image: url(../images/logo_place_footer.svg);
}

.footer__author {
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bolder;
  margin: 0;
}

.footer__column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 16px;
  display: flex;
  flex-flow: column;
  list-style-type: none;
  padding: 0;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin-right: 10px;
}

.footer__column-link {
  color: white;
  text-decoration: none;
  margin: 0;
  padding: 0;
}
